.toolbar {
    position: relative;
    background: #141419;
    padding: 4px;
    border-radius: 8px;
    display: flex;
    gap: 8px;
    align-items: center;
    border: 1px solid rgba(255,255,255,0.15);
    z-index: 9999;
    pointer-events: auto;
}

.sizeInputs {
    display: flex;
    gap: 4px;
    align-items: center;
    padding: 0 4px;
}
